$white: #FFFFFF;
$text-body-text: #616C74;
$primary-blue: #0E99D2;
$primary-blue-800: #128BBD;
$text-sub-heading: #474B50;
$yellow-300: #FEF8E7;
$text-heading: #212121;
$dark-colors-dark-3: #35383F;
$supplimentary-colors-w-hite-stroke: #EEE;
$supplimentary-colors-orange: #FF981F;
$supplimentary-colors-blue: #1A96F0;
$text-sup-text-1: #D9E2E7;
$text-placeholder: #A7B4BE;
$textsub-heading-light: #F5F5F5;
