@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap');

// ------------ RECOLETA FONT -------------------
@font-face {
    font-family: "Recoleta Black";
    src: url("../fonts/Recoleta/Recoleta-Black.ttf") format("truetype");
}

@font-face {
    font-family: "Recoleta Bold";
    src: url("../fonts/Recoleta/Recoleta-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Recoleta Light";
    src: url("../fonts/Recoleta/Recoleta-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Recoleta Medium";
    src: url("../fonts/Recoleta/Recoleta-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Recoleta Regular";
    src: url("../fonts/Recoleta/Recoleta-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Recoleta SemiBold";
    src: url("../fonts/Recoleta/Recoleta-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Recoleta Thin";
    src: url("../fonts/Recoleta/Recoleta-Thin.ttf") format("truetype");
}